@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #F6F5F2;
}

h1 {
  font-family: var(--inknut_antiqua-font);
  font-weight: 600;
  font-size: 60px;
}
h5{
  font-family: var(--inknut_antiqua-font);
  font-weight: 600;
  font-size: 16px;

}

h4{
  font-family: var(--inknut_antiqua-font);
  font-weight: 400;
  font-size: 28px;
}

p{
  font-family: var(--inter-font);
}

h6{
  font-family: var(--baskervville-font);
  font-size: 20px;
  font-style: italic;
}

button{
  font-family: var(--inknut_antiqua-font);
  font-weight: 200;
  font-size: 20px;

}

.chessboard-piece {
  width: 50px ;
  height: 50px ;
}

